# Python
__pycache__/
*.py[oc]
build/
dist/
*.egg-info/
.venv/
uv.lock
.python-version

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Project specific
tempCodeRunnerFile.py
*.db
*.sqlite

# Testing
.pytest_cache/
.coverage
htmlcov/
.agent/rules/uv.md

# Build artifacts
build/
dist/
# *.spec

# copy WTA
legacy_project

# Output and Logs
*.log
debug_output.txt
error.txt
pyright_output.txt
test_output.txt
.kilocode/rules/rules.md
A_voir.md
